extends layout

block content
  h1= title
  .container-fluid
    .row
      - let results = [{ name: 'Apple', color: 'Red', price: 1.99 },{ name: 'Banana', color: 'Yellow', price: 0.99 },{ name: 'Orange', color: 'Orange', price: 1.49 }]
      each fruit in results
        .col-sm-2
          h4= fruit.name
          p Color: #{fruit.color}
          p Price: $#{fruit.price.toFixed(2)}
    a(href="/") Back to Index
